.loader {
  width:60px;
  height:60px;
  border-radius:50%;
  border:8px solid;
  border-color:#b8b8b8;
  border-right-color: #BB86FC;
  animation:s2 1s infinite linear;
}

@keyframes s2 {to{transform: rotate(1turn)}}