@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.light-theme {
  --bg-color: #ffffff;
  --nav-bg-color: rgba(255, 255, 255, 0.6);
  --text-color: #333333;
  --primary-color: #6200ee;
  --secondary-color: #03dac6;
  --border-color: rgba(80, 80, 80, 0.43);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Стили для темной темы */
body.dark-theme {
  --bg-color: rgb(18, 18, 21);
  --nav-bg-color: rgba(18, 18, 21, 0.6);
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --border-color: rgba(80, 80, 80, 0.43);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App{
    width: 800px;
    background-color: var(--bg-color);
}

.page-wrapper{
    padding: clamp(6.25rem, 5.8929rem + 1.7857vw, 7.5rem) clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem);;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid var(--primary-color);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.post__btns{
    display: flex;
}

.remove-btn {margin-right: 0.5rem;}

.post-enter {transform: translateX(-1300px);}

.post-enter-active {
transform: translateX(0px);
transition: all 300ms ease-in-out;
}

.post-exit {opacity: 1;}

.post-exit-active {
transform: translateX(-1300px);
transition: all 300ms ease-in-out;
}

/* PAGE WRAPPER */

.page__wrapper{
    width: 45%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: var(--nav-bg-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid var(--border-color);
}

.page{
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.page__current{
    background-color: var(--primary-color);
    color: #FFF;
    font-weight: bold;
}

.color-theme-button{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 10px;
}

/* NAVBAR */

.navbar{
    position: fixed;
    top: 20px;
    height: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: var(--nav-bg-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid var(--border-color);
}

.navbar__links{
    margin-left: auto;
}

.navbar__link{
    color: #FFF;
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.navbar__link:hover{
    background-color: rgb(9, 70, 82)
}

